ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink; 

}

li{
    float: center;
}

li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

/* Ändra färg när någon håller över(hover) länlek */
li a:hover{
    background-color: red;
    color: white;
}